# Start Script & establish a connection to elabFTW

## 1. Generate an API Key ("schreibgeschützt"): https://elab-staging.uni-muenster.de/ucp.php?tab=4

(API Docs: https://doc.elabftw.net/api/v2/)

In [1]:
from elabftw_api_client import ElabFTW

In [2]:
API_KEY = ""
ftw = ElabFTW(
    "https://elab-staging.uni-muenster.de/",
    API_KEY,
)

Initializing ElabFTW class with user_agent_string: elabftw_api_access

## Check connection

In [3]:
ftw.check_connection()

'Connection to ElabFTW successful'

## Get all items (ressources) you have access to

Returns a list of dictionaries.

In [4]:
items = ftw.get_ressources()

Your can access all titels for example like this:

In [ ]:
for item in items:
    print(item['title'])

If this returns nothing, you might not have any items yet. Check https://elab-staging.uni-muenster.de/database.php to make sure.

# Create a new ressource

### Get all current ressource categories

In [6]:
for category in ftw.get_ressource_categories():
    print(category["title"] + " (ID:" + str(category["id"]) + ")")

Default (ID:3)
Antikörper (ID:11)
Karls Testkategorie (ID:18)
Karls_Testkategorie (ID:19)
Karls_Testkategorie (ID:20)
Karls_Testkategorie (ID:21)
Karls_Testkategorie (ID:22)

Prepare a new ressouce. Allowed arguments are: 

- `category_id` as `int` 
- `tags` as a list of `str`
- `tittle` as `str`
- `body` as `str`
- `metadata` as `dict`

In [14]:
metadata = {"testkey": "ABC", "second key": "DEF"}
new_item = ftw.create_ressource(category_id=18, title="Random test name", body="Random test body", metadata=metadata)

Item created: ('https://elab-staging.uni-muenster.de/database.php?mode=view&id=108',)

## Read CSV and create Ressources

In [19]:
import pandas as pd

df = pd.read_csv("items.csv")
df

               title         Supplier                 No  Stock  remarks
0  2-Mercaptoethanol      SupplierOne            2434233   20ml      NaN
1         2-Propanol    FictionalGMBH  234342234-Mjsjsee   3423      NaN
2           Accutase  THEchemsupplyCo     njndnefw-23423  100ml      NaN
3             Aceton              IDK                123    NaN      NaN
4               Test             Test               Test   Test      NaN

Reading an Excel file is equally simple: `df = pd.read_excel("items.csv")`

In [22]:
df2 = pd.read_excel("Example_cons.xlsx")
df2

               title         Supplier                 No  Stock  remarks
0  2-Mercaptoethanol      SupplierOne            2434233   20ml      NaN
1         2-Propanol    FictionalGMBH  234342234-Mjsjsee   3423      NaN
2           Accutase  THEchemsupplyCo     njndnefw-23423  100ml      NaN
3             Aceton              IDK                123    NaN      NaN
4               Test             Test               Test   Test      NaN

In [18]:
for index, row in df.iterrows():
    print(f"Creating item {row['title']}")
    body = f"Supplier: {row['Supplier']},\nNo: {row['No']},\nStock: {row['Stock']}"
    metadata = {"Supplier": row["Supplier"], "No": row["No"], "Stock": row["Stock"]}
    ftw.create_ressource(category_id=18, title=row["title"], body=body, metadata=metadata)

Creating item 2-Mercaptoethanol
Item created: ('https://elab-staging.uni-muenster.de/database.php?mode=view&id=109',)
Creating item 2-Propanol
Item created: ('https://elab-staging.uni-muenster.de/database.php?mode=view&id=110',)
Creating item Accutase
Item created: ('https://elab-staging.uni-muenster.de/database.php?mode=view&id=111',)
Creating item Aceton
Item created: ('https://elab-staging.uni-muenster.de/database.php?mode=view&id=112',)
Creating item Test
Item created: ('https://elab-staging.uni-muenster.de/database.php?mode=view&id=113',)